
.CR-layout
{
    align-self:center;
    padding: 5px; 
    border: 2px; 
    border-color: #629eda;
    border-style: solid;
    background-color: #1d1d1d;
    box-shadow:0 4px 8px 0 (rgba(0, 0, 0, 0.2));
}

.CR-box
{

   align-self: center;
   box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
   width:80%;
   height:50%;
   padding: 105px;
}

.CR-center-block 
{
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: normal;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.CR-layout .customer-review
{
    text-align: center;
    padding: 5px;
    color: #ffffff;
    font-size: 10px;
}

.review-title h4 h5
{
  color:#ffffff;
  text-align:left;
  margin: auto;
}


.review-form
{
  position: center;
  float: center;
  -webkit-box-flex: center;
  -moz-box-flex: center;
  padding: 5px;
  margin: 0px;
  text-align: center;
  align-items: center;
}

.button
{
  align-content: center;
  margin: auto;
  padding: 10px;
  border-style: solid;
  border-color: #629eda;
  border: 5px;
    
}

.review-prompt 
{
  text-align: center;
  color: #ffffff;
  margin: auto;
  padding: 0px;
}

#react-button
{
  border:5px solid #629eda;
}

#form-window
{
  display: none;
}