 
.cr-grid
{
  display: grid;
  grid-template: minmax(250px , 600px);
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(auto , 1fr);
  grid-gap: 5px;
  text-align: center;
  -ms-text-align: center;
  -moz-text-align: center;
  -o-text-align: center;
  -webkit-text-align: center; 
} 

.CR-box
{
  display: flexbox;
  border: 2px; 
  border-color: #aa3723;
  border-style: solid;
  background-color: #1d1d1d;
  box-shadow:rgba(0, 0, 0, 0.2);
  width:564px;
  height:410px;
  padding: 10px;
}

.star
{
  color: orange;
}

/* .CR-center-block 
{
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: normal;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
} */

.CR-layout .customer-review
{
    text-align: center;
    padding: 5px;
    color: #ffffff;
    font-size: 10px;
}

.review-title h4 h5
{
  grid-column: 6;
  grid-row: 5;
  color:#ffffff;
  margin: auto;
}

.cr-title h3
{
  grid-column: 6;
  grid-row: 1;
  padding-left: 120px;
}

/* .review-form
{
  position: center;
  float: center;
  -webkit-box-flex: center;
  -moz-box-flex: center;
  padding: 5px;
  margin: 0px;
  text-align: center;
  align-items: center;
  
} */

.button
{
  align-content: center;
  margin: auto;
  padding: 10px;
  border-style: solid;
  border-color: #aa3723;
  border: 5px;    
}

.review-prompt 
{
  text-align: center;
  color: #ffffff;
  margin: auto;
  padding: 0px;
}

.review-images
{
  max-width: 450px;
  max-height: 450px;
}


/*Mobile only class to hide sidenav for Desktop on Main Site page*/
.mobile-only
{
  display: none;
}
/* #form-window
{
  display: none;
} */


@media screen and (max-width: 800px)
{
  .review-form
  {
    width:auto;
    height:auto;
    max-width: 100%;
    max-height: 100%;
  }

  .mobile-only
  {

   display: inline-block;

  }

  .CR-box
  { 
    border: 2px; 
    border-color: #aa3723;
    border-style: solid;
    background-color: #1d1d1d;
    box-shadow:0 4px 8px 0 (rgba(0, 0, 0, 0.2));
    max-width:300px;
    max-height:415px;
  }

  .CR-layout
  {
    width:auto;
    height:auto;
    max-width: 100%;
    max-height: 100%;
  }
  
}
