
.cr-grid
{
  display: grid;
  grid-template: minmax(250px , 600px);
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(auto , 1fr);
  grid-gap: 5px;
  text-align: center;
  -ms-text-align: center;
  -moz-text-align: center;
  -o-text-align: center;
  -webkit-text-align: center; 
}

.CR-box
{
  grid-column: 6;
  grid-row: 3; 
  border: 2px; 
  border-color: #aa3723;
  border-style: solid;
  background-color: #1d1d1d;
  box-shadow:0 4px 8px 0 (rgba(0, 0, 0, 0.2));
   display: flexbox;
   display: -ms-flexbox;
   display: -webkit-flex;
   display: -moz-box;
   min-width:564px;
   min-height:454px;
}

/* .CR-center-block 
{
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: normal;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
} */

.CR-layout .customer-review
{
    text-align: center;
    padding: 5px;
    color: #ffffff;
    font-size: 10px;
}

.review-title h4 h5
{
  grid-column: 6;
  grid-row: 5;
  color:#ffffff;
  margin: auto;
}

.cr-title h3
{
  grid-column: 6;
  grid-row: 1;
}

.review-form
{
  position: center;
  float: center;
  -webkit-box-flex: center;
  -moz-box-flex: center;
  padding: 5px;
  margin: 0px;
  text-align: center;
  align-items: center;
  
}

.button
{
  align-content: center;
  margin: auto;
  padding: 10px;
  border-style: solid;
  border-color: #aa3723;
  border: 5px;
    
}

.review-prompt 
{
  text-align: center;
  color: #ffffff;
  margin: auto;
  padding: 0px;
}

#form-window
{
  display: none;
}


@media only screen and (max-width: 600px)
{
  .review-form
  {
    width:auto;
    height:auto;
    max-width: 100%;
    max-height: 100%;
  }

  .CR-box
  {
   align-self: center;
   box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
   min-width:550px;
   min-height:454px;
  }

  .CR-layout
  {
    width:auto;
    height:auto;
    max-width: 100%;
    max-height: 100%;
  }
  
}