/* make design responsive, ie better for mobile. */

body{ background-color: #1d1d1d;color: #ffffff; font-optical-sizing:auto; height: 100%;}
input{position:absolute;}
 p{text-align:center; color:#ffffff; word-wrap: break-word;}  
.h1.h2.h3.h4.h5.h6,h1,h2,h3,h4,h5,h6{color:#ffffff;}

/* @media only screen and (min-width: 375px) {
    body 
    {
        width: 100%;
        padding: 65px;
        display: grid;
        grid-template-columns: 1fr;
        grid-row: 1;
        justify-content: stretch;
        align-content: stretch;
    }
}  */


.step-layout
{
  -ms-display: grid;
  -webkit-display:grid;
  -moz-display:grid;
  -o-display:grid;
  display: grid;
  grid-template: minmax(250px , 600px);
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(auto , 1fr);
  grid-gap: 5px;
  text-align: center;
  -ms-text-align: center;
  -moz-text-align: center;
  -o-text-align: center;
  -webkit-text-align: center; 
}

.stepOne-title
{
    
    grid-column: 3/4;
    grid-row: 1;
}

.stepTwo-title
{
   grid-column: 3/4;
   grid-row: 3;
}

.stepThree-title
{
    grid-column: 3/4;
    grid-row: 5;
}

.stepFour-title
{
    grid-column: 3/4;
    grid-row:7;
}
.review-title
{
    grid-column: 3/4;
    font-size: 20px;
    text-align: center;
}

.Menu-box{
    text-align: center;
    margin: auto;
    border-left: 10px solid #1d1d1d;
    border-right: 10px solid #1d1d1d;
    border-top: 25px solid #1d1d1d;
    background-color: #0f0e0e;
    color:#ffffff;
    box-shadow:0 4px 8px 0 (rgba(0, 0, 0, 0.2));
    top:60%;
    padding-top: 20px;
    padding-bottom: 15px;
    width:auto;
    height:auto;
    min-width: 320px;
    min-height: 345px;
}

.stepOne-box-1
{
    text-align: center;
    justify-content: center;
    display:flexbox;
    -ms-display: flexbox;
    -webkit-display:flexbox;
    -moz-display:flexbox;
    -o-display:flexbox;
    grid-row: 2;
    grid-column: 3;
    border-left: 10px solid #1d1d1d;
    border-right: 10px solid #1d1d1d;
    border-top: 25px solid #1d1d1d;
    background-color: #0f0e0e;
    color:#ffffff;
    box-shadow:0 4px 8px 0 (rgba(0, 0, 0, 0.2));
    top: 60%;
    padding-top: 20px;
    padding-bottom: 15px;
    width:auto;
    height:auto;
    min-width: 320px;
    min-height: 345px;
}

.stepOne-box-2
{
    text-align: center;
    justify-content: center;
    display:flexbox;
    -ms-display: flexbox;
    -webkit-display:flexbox;
    -moz-display:flexbox;
    -o-display:flexbox;
    grid-row: 2;
    grid-column: 4;
    border-left: 10px solid #1d1d1d;
    border-right: 10px solid #1d1d1d;
    border-top: 25px solid #1d1d1d;
    background-color: #0f0e0e;
    color:#ffffff;
    box-shadow:0 4px 8px 0 (rgba(0, 0, 0, 0.2));
    top: 60%;
    padding-top: 20px;
    padding-bottom: 15px;
    width:auto;
    height:auto;
    min-width: 320px;
    min-height: 345px;
    
}

.stepTwo-box1
{
    text-align: center;
    justify-content: center;
    display:flexbox;
    -ms-display: flexbox;
    -webkit-display:flexbox;
    -moz-display:flexbox;
    -o-display:flexbox;
    grid-row: 4;
    grid-column: 2;
    border-left: 10px solid #1d1d1d;
    border-right: 10px solid #1d1d1d;
    border-top: 25px solid #1d1d1d;
    background-color: #0f0e0e;
    color:#ffffff;
    box-shadow:0 4px 8px 0 (rgba(0, 0, 0, 0.2));
    top: 60%;
    padding-top: 20px;
    padding-bottom: 15px;
    width:auto;
    height:auto;
    min-width: 320px;
    min-height: 345px;  
}

.stepTwo-box2
{
    text-align: center;
    justify-content: center;
    display:flexbox;
    -ms-display: flexbox;
    -webkit-display:flexbox;
    -moz-display:flexbox;
    -o-display:flexbox;
    grid-row: 4;
    grid-column: 3;
    border-left: 10px solid #1d1d1d;
    border-right: 10px solid #1d1d1d;
    border-top: 25px solid #1d1d1d;
    background-color: #0f0e0e;
    color:#ffffff;
    box-shadow:0 4px 8px 0 (rgba(0, 0, 0, 0.2));
    top: 60%;
    padding-top: 20px;
    padding-bottom: 15px;
    width:auto;
    height:auto;
    min-width: 320px;
    min-height: 345px;  
}


.stepTwo-box3
{
    text-align: center;
    justify-content: center;
    display:flexbox;
    -ms-display: flexbox;
    -webkit-display:flexbox;
    -moz-display:flexbox;
    -o-display:flexbox;
    grid-row: 4;
    grid-column: 4;
    border-left: 10px solid #1d1d1d;
    border-right: 10px solid #1d1d1d;
    border-top: 25px solid #1d1d1d;
    background-color: #0f0e0e;
    color:#ffffff;
    box-shadow:0 4px 8px 0 (rgba(0, 0, 0, 0.2));
    top: 60%;
    padding-top: 20px;
    padding-bottom: 15px;
    width:auto;
    height:auto;
    min-width: 320px;
    min-height: 345px;  
}

.stepTwo-box4
{
    text-align: center;
    justify-content: center;
    display:flexbox;
    -ms-display: flexbox;
    -webkit-display:flexbox;
    -moz-display:flexbox;
    -o-display:flexbox;
    -webkit-display: flexbox;
    -moz-display: flexbox;
    grid-row: 4;
    grid-column: 5;
    border-left: 10px solid #1d1d1d;
    border-right: 10px solid #1d1d1d;
    border-top: 25px solid #1d1d1d;
    background-color: #0f0e0e;
    color:#ffffff;
    box-shadow:0 4px 8px 0 (rgba(0, 0, 0, 0.2));
    top: 60%;
    padding-top: 20px;
    padding-bottom: 15px;
    width:auto;
    height:auto;
    min-width: 320px;
    min-height: 345px;  
}

.stepThree-box1
  {
    text-align: center;
    justify-content: center;
    display:flexbox;
    grid-row: 6;
    grid-column: 2;
    border-left: 10px solid #1d1d1d;
    border-right: 10px solid #1d1d1d;
    border-top: 25px solid #1d1d1d;
    background-color: #0f0e0e;
    color:#ffffff;
    box-shadow:0 4px 8px 0 (rgba(0, 0, 0, 0.2));
    top: 60%;
    padding-top: 20px;
    padding-bottom: 15px;
    width:auto;
    height:auto;
    max-width: 320px;
    max-height: 345px;  
  }

 .stepThree-box2
  {
    text-align: center;
    justify-content: center;
    display:flexbox;
    grid-row: 6;
    grid-column: 3;
    border-left: 10px solid #1d1d1d;
    border-right: 10px solid #1d1d1d;
    border-top: 25px solid #1d1d1d;
    background-color: #0f0e0e;
    color:#ffffff;
    box-shadow:0 4px 8px 0 (rgba(0, 0, 0, 0.2));
    top: 60%;
    padding-top: 20px;
    padding-bottom: 15px;
    width:auto;
    height:auto;
    max-width: 320px;
    max-height: 345px;  
  }

 .stepThree-box3
  { 
    text-align: center;
    justify-content: center;
    display:flexbox;
    grid-row: 6;
    grid-column: 4;
    border-left: 10px solid #1d1d1d;
    border-right: 10px solid #1d1d1d;
    border-top: 25px solid #1d1d1d;
    background-color: #0f0e0e;
    color:#ffffff;
    box-shadow:0 4px 8px 0 (rgba(0, 0, 0, 0.2));
    top: 60%;
    padding-top: 20px;
    padding-bottom: 15px;
    width:auto;
    height:auto;
    max-width: 320px;
    max-height: 345px;  
  }

 .stepThree-box4
  {
    text-align: center;
    justify-content: center;
    display:flexbox;
    grid-row: 6;
    grid-column: 5;
    border-left: 10px solid #1d1d1d;
    border-right: 10px solid #1d1d1d;
    border-top: 25px solid #1d1d1d;
    background-color: #0f0e0e;
    color:#ffffff;
    box-shadow:0 4px 8px 0 (rgba(0, 0, 0, 0.2));
    top: 60%;
    padding-top: 20px;
    padding-bottom: 15px;
    width:auto;
    height:auto;
    max-width: 320px;
    max-height: 345px;  
  }

  .stepFour-box1
{
    text-align: center;
    justify-content: center;
    display:flexbox;
    -ms-display: flexbox;
    -webkit-display:flexbox;
    -moz-display:flexbox;
    -o-display:flexbox;
    grid-row: 8;
    grid-column: 2;
    border-left: 10px solid #1d1d1d;
    border-right: 10px solid #1d1d1d;
    border-top: 25px solid #1d1d1d;
    background-color: #0f0e0e;
    color:#ffffff;
    box-shadow:0 4px 8px 0 (rgba(0, 0, 0, 0.2));
    top: 60%;
    padding-top: 20px;
    padding-bottom: 15px;
    width:auto;
    height:auto;
    min-width: 320px;
    min-height: 345px;  
}

.stepFour-box2
{
    text-align: center;
    justify-content: center;
    display:flexbox;
    -ms-display: flexbox;
    -webkit-display:flexbox;
    -moz-display:flexbox;
    -o-display:flexbox;
    grid-row: 8;
    grid-column: 3;
    border-left: 10px solid #1d1d1d;
    border-right: 10px solid #1d1d1d;
    border-top: 25px solid #1d1d1d;
    background-color: #0f0e0e;
    color:#ffffff;
    box-shadow:0 4px 8px 0 (rgba(0, 0, 0, 0.2));
    top: 60%;
    padding-top: 20px;
    padding-bottom: 15px;
    width:auto;
    height:auto;
    min-width: 320px;
    min-height: 345px;  
}


.stepFour-box3
{
    text-align: center;
    justify-content: center;
    display:flexbox;
    -ms-display: flexbox;
    -webkit-display:flexbox;
    -moz-display:flexbox;
    -o-display:flexbox;
    grid-row: 8;
    grid-column: 4;
    border-left: 10px solid #1d1d1d;
    border-right: 10px solid #1d1d1d;
    border-top: 25px solid #1d1d1d;
    background-color: #0f0e0e;
    color:#ffffff;
    box-shadow:0 4px 8px 0 (rgba(0, 0, 0, 0.2));
    top: 60%;
    padding-top: 20px;
    padding-bottom: 15px;
    width:auto;
    height:auto;
    min-width: 320px;
    min-height: 345px;  
}

.Menu-box .Menu-image{
    position: relative;
    overflow: hidden;
}

.Menu-box .Menu-text{
    font-family:Cambria;
    text-align: center;
    font-size: 12px;
    padding: 2rem 0 2.5rem 0;

}
 
.bottompadding
{
   padding-bottom: 20px;
}

.productreview
{
  justify-content: right;
  align-content: stretch;
}

.product-review-table {
   
    display: flex;
    justify-content:stretch;
    align-content: stretch;
    padding-left: 15px;
}

.product-review-table td, th 
{
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
    height: 20px;
    padding: 20px;
}

.product-review-table th 
{
    text-align: left;
}

.product-review-table p 
{
    text-align: right;
}


.product-review-box
{
    display:flex;
    flex-direction: column;
    border:3px solid #aa3723;
    background-color: #0f0e0e; 
    box-shadow:0 4px 8px 0 (rgba(0, 0, 0, 0.2));
    /* top:65%; */
    /* padding-top:25px;
    padding-bottom:20px;
    padding-left: 15px; */
    min-width: 590px;
    min-height: 540px;
}

.pr-container-row2
{
  display:flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-around;
  padding-right: 25px;
}

.pr-title
{
    display:flex;
    justify-content:center;
    padding-bottom: 20px;
}

.button-placement 
{
 display: flex;
 justify-content: flex-end;
 align-content: center;
 padding-right: 155px;
 padding-bottom: 50px;
}

.product-image
{
    display:flex;
    justify-self: left;
    width: 480px;
    height: 410px; 
    border-spacing:50px, 0px;
    border: 2px solid;    
}

.product-info
{
    float: right;
    align-content: left;
    font-size:18px;
    color:#ffffff;
}

.product-info-list
{
    color:#ffffff;
    text-align:right;
    border-spacing: 50px, 0px;
}

/* .cartbutton
{
    border-radius: 16px;
    font-family: inherit;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    padding: 10px 14px;
    margin: 1rem;
    background: #00bcd4;
    border: 0px;
    cursor: pointer;
    outline: none;
} */


.paypalbuttons
{
    border-radius: 16px;
    font-family: inherit;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    padding:10px 14px;
    margin: 1rem;
    border: 0px;
    cursor: pointer;
    outline: none;
}

.buynow
{
    background-color: #ff6600;
}

.addtocart
{
    background: #00bcd4;
}

a:hover .addtocart {
    opacity: 0.1;
}

.checkbox-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

@media screen and (max-width: 600px)
{
    .step-title
    {
      grid-column: 3/4;
    }
    .stepTwo-title
    {
     grid-column: 3/4;
     grid-row: 3;
    }
    .stepThree-title
    {
      grid-column: 3/4;
      grid-row:4;
    }
    .stepFour-title
    {
        grid-column: 3/4;
        grid-row:7;
    }

    .stepOne-box-1
    { 
        text-align: center;
        justify-content: center;
        display:flexbox;
        grid-row: 2;
        grid-column: 3/4;
        border-left: 10px solid #1d1d1d;
        border-right: 10px solid #1d1d1d;
        border-top: 25px solid #1d1d1d;
        background-color: #0f0e0e;
        color:#ffffff;
        box-shadow:0 4px 8px 0 (rgba(0, 0, 0, 0.2));
        top: 60%;
        padding-top: 20px;
        padding-bottom: 15px;
        width:auto;
        height:auto;
        max-width: 320px;
        max-height: 345px;   
    }

   .stepOne-box-2
   {
     text-align: center;
     justify-content: center;
     display:flexbox;
     grid-row: 3;
     grid-column: 3/4;
     border-left: 10px solid #1d1d1d;
     border-right: 10px solid #1d1d1d;
     border-top: 25px solid #1d1d1d;
     background-color: #0f0e0e;
     color:#ffffff;
     box-shadow:0 4px 8px 0 (rgba(0, 0, 0, 0.2));
     top: 60%;
     padding-top: 20px;
     padding-bottom: 15px;
     width:auto;
     height:auto;
     max-width: 320px;
     max-height: 345px;  
  }

  .stepTwo-box1
  {
    text-align: center;
    justify-content: center;
    display:flexbox;
    grid-row: 5;
    grid-column: 3/4;
    border-left: 10px solid #1d1d1d;
    border-right: 10px solid #1d1d1d;
    border-top: 25px solid #1d1d1d;
    background-color: #0f0e0e;
    color:#ffffff;
    box-shadow:0 4px 8px 0 (rgba(0, 0, 0, 0.2));
    top: 60%;
    padding-top: 20px;
    padding-bottom: 15px;
    width:auto;
    height:auto;
    max-width: 320px;
    max-height: 345px;  
  }

 .stepTwo-box2
  {
    text-align: center;
    justify-content: center;
    display:flexbox;
    grid-row: 6;
    grid-column: 3/4;
    border-left: 10px solid #1d1d1d;
    border-right: 10px solid #1d1d1d;
    border-top: 25px solid #1d1d1d;
    background-color: #0f0e0e;
    color:#ffffff;
    box-shadow:0 4px 8px 0 (rgba(0, 0, 0, 0.2));
    top: 60%;
    padding-top: 20px;
    padding-bottom: 15px;
    width:auto;
    height:auto;
    max-width: 320px;
    max-height: 345px;  
  }


 .stepTwo-box3
  { 
    text-align: center;
    justify-content: center;
    display:flexbox;
    grid-row: 7;
    grid-column: 3/4;
    border-left: 10px solid #1d1d1d;
    border-right: 10px solid #1d1d1d;
    border-top: 25px solid #1d1d1d;
    background-color: #0f0e0e;
    color:#ffffff;
    box-shadow:0 4px 8px 0 (rgba(0, 0, 0, 0.2));
    top: 60%;
    padding-top: 20px;
    padding-bottom: 15px;
    width:auto;
    height:auto;
    max-width: 320px;
    max-height: 345px;  
  }

 .stepTwo-box4
  {
    text-align: center;
    justify-content: center;
    display:flexbox;
    grid-row: 8;
    grid-column: 3/4;
    border-left: 10px solid #1d1d1d;
    border-right: 10px solid #1d1d1d;
    border-top: 25px solid #1d1d1d;
    background-color: #0f0e0e;
    color:#ffffff;
    box-shadow:0 4px 8px 0 (rgba(0, 0, 0, 0.2));
    top: 60%;
    padding-top: 20px;
    padding-bottom: 15px;
    width:auto;
    height:auto;
    max-width: 320px;
    max-height: 345px;  
  }
  /* Layout three for mobile*/
  .stepThree-box1
  {
    text-align: center;
    justify-content: center;
    display:flexbox;
    grid-row: 5;
    grid-column: 3/4;
    border-left: 10px solid #1d1d1d;
    border-right: 10px solid #1d1d1d;
    border-top: 25px solid #1d1d1d;
    background-color: #0f0e0e;
    color:#ffffff;
    box-shadow:0 4px 8px 0 (rgba(0, 0, 0, 0.2));
    top: 60%;
    padding-top: 20px;
    padding-bottom: 15px;
    width:auto;
    height:auto;
    max-width: 320px;
    max-height: 345px;  
  }

 .stepThree-box2
  {
    text-align: center;
    justify-content: center;
    display:flexbox;
    grid-row: 6;
    grid-column: 3/4;
    border-left: 10px solid #1d1d1d;
    border-right: 10px solid #1d1d1d;
    border-top: 25px solid #1d1d1d;
    background-color: #0f0e0e;
    color:#ffffff;
    box-shadow:0 4px 8px 0 (rgba(0, 0, 0, 0.2));
    top: 60%;
    padding-top: 20px;
    padding-bottom: 15px;
    width:auto;
    height:auto;
    max-width: 320px;
    max-height: 345px;  
  }


 .stepThree-box3
  { 
    text-align: center;
    justify-content: center;
    display:flexbox;
    grid-row: 7;
    grid-column: 3/4;
    border-left: 10px solid #1d1d1d;
    border-right: 10px solid #1d1d1d;
    border-top: 25px solid #1d1d1d;
    background-color: #0f0e0e;
    color:#ffffff;
    box-shadow:0 4px 8px 0 (rgba(0, 0, 0, 0.2));
    top: 60%;
    padding-top: 20px;
    padding-bottom: 15px;
    width:auto;
    height:auto;
    max-width: 320px;
    max-height: 345px;  
  }

 .stepThree-box4
  {
    text-align: center;
    justify-content: center;
    display:flexbox;
    grid-row: 8;
    grid-column: 3/4;
    border-left: 10px solid #1d1d1d;
    border-right: 10px solid #1d1d1d;
    border-top: 25px solid #1d1d1d;
    background-color: #0f0e0e;
    color:#ffffff;
    box-shadow:0 4px 8px 0 (rgba(0, 0, 0, 0.2));
    top: 60%;
    padding-top: 20px;
    padding-bottom: 15px;
    width:auto;
    height:auto;
    max-width: 320px;
    max-height: 345px;  
  }

/*Mobile layout 4*/
  .stepFour-box1
{
    text-align: center;
    justify-content: center;
    display:flexbox;
    -ms-display: flexbox;
    -webkit-display:flexbox;
    -moz-display:flexbox;
    -o-display:flexbox;
    grid-row: 8;
    grid-column: 3/4;
    border-left: 10px solid #1d1d1d;
    border-right: 10px solid #1d1d1d;
    border-top: 25px solid #1d1d1d;
    background-color: #0f0e0e;
    color:#ffffff;
    box-shadow:0 4px 8px 0 (rgba(0, 0, 0, 0.2));
    top: 60%;
    padding-top: 20px;
    padding-bottom: 15px;
    width:auto;
    height:auto;
    max-width: 320px;
    max-height: 345px;  
}

.stepFour-box2
{
    text-align: center;
    justify-content: center;
    display:flexbox;
    -ms-display: flexbox;
    -webkit-display:flexbox;
    -moz-display:flexbox;
    -o-display:flexbox;
    grid-row: 9;
    grid-column: 3/4;
    border-left: 10px solid #1d1d1d;
    border-right: 10px solid #1d1d1d;
    border-top: 25px solid #1d1d1d;
    background-color: #0f0e0e;
    color:#ffffff;
    box-shadow:0 4px 8px 0 (rgba(0, 0, 0, 0.2));
    top: 60%;
    padding-top: 20px;
    padding-bottom: 15px;
    width:auto;
    height:auto;
    max-width: 320px;
    max-height: 345px;  
}


.stepFour-box3
{
    text-align: center;
    justify-content: center;
    display:flexbox;
    -ms-display: flexbox;
    -webkit-display:flexbox;
    -moz-display:flexbox;
    -o-display:flexbox;
    grid-row: 10;
    grid-column: 3/4;
    border-left: 10px solid #1d1d1d;
    border-right: 10px solid #1d1d1d;
    border-top: 25px solid #1d1d1d;
    background-color: #0f0e0e;
    color:#ffffff;
    box-shadow:0 4px 8px 0 (rgba(0, 0, 0, 0.2));
    top: 60%;
    padding-top: 20px;
    padding-bottom: 15px;
    width:auto;
    height:auto;
    max-width: 320px;
    max-height: 345px;  
}

/*Product Review Box for Mobile*/

.pr-title
{
    grid-row: 12;
    grid-column:1;
    padding-bottom: 20px;
}

.product-image
{
    display: flex;
    justify-content: center;
    max-width: 315px;
    max-height: 200px;
    border-spacing:50px, 0px;
    border: 2px solid;    
}

.product-review-box
{
    display:flex;
    align-content: center;
    align-self: center;
    text-align: center;
    border:3px solid #aa3723;
    background-color: #0f0e0e; 
    box-shadow:0 4px 8px 0 (rgba(0, 0, 0, 0.2));
    /* top:65%; */
    padding-top:25px;
    padding-bottom:20px;
    padding-left: 15px; 
    min-width: 350px;
    min-height: 540px;
}

.pr-container-row2
{
  display:flex;
  flex-direction: column;
  justify-content: center;
}

/*Review Table for Product Info*/
.table table
{
  justify-content: right;
  align-content: stretch;
}

.product-review-table {
    grid-column: 1;
    grid-row:14;
    width: 100%;
    justify-content: stretch;
    align-content: stretch;
    padding-left: 15px;
    padding-top:15px;
}

.product-review-table td, th 
{
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
    height: 20px;
    padding: 20px;
}

.product-review-table th 
{
    text-align: left;
}

.product-review-table p 
{
    text-align: right;
}

/*      PayPal buttons             */


.button-placement 
{
 display: flex;
 justify-content: flex-end;
 align-content: center;
 padding-left: 280px;
 padding-bottom: 50px;
}

.paypalbuttons
{
    justify-content: right;   
    border-radius: 14px;
    font-family: inherit;
    font-weight: bold;
    text-justify: auto;
    color: #fff;
    padding:5px 5px; 
    margin: 1rem;
    min-width: 85px;
    border: 0px;
    cursor: pointer;
    outline: none;
}

.buynow
{
    background-color: #ff6600;
}

.addtocart
{
    background: #00bcd4;
}

}

@media screen and (max-height: 380px) {
    .step-title 
    {
      grid-column: 5;
    }

    .stepOne-title {
        grid-column: 3/5;
        grid-row: 1;
    }

    .stepTwo-title
    {
     grid-column: 3/5;
     grid-row: 3;
    }
    .stepThree-title
    {
      grid-column: 3/5;
      grid-row:4;
    }
    .stepFour-title
    {
        grid-column: 3/5;
        grid-row:7;
    }

    .stepOne-box-1
    { 
        text-align: center;
        justify-content: center;
        display:flexbox;
        grid-row: 2;
        grid-column: 2/6;
        border-left: 10px solid #1d1d1d;
        border-right: 10px solid #1d1d1d;
        border-top: 25px solid #1d1d1d;
        background-color: #0f0e0e;
        color:#ffffff;
        box-shadow:0 4px 8px 0 (rgba(0, 0, 0, 0.2));
        top: 60%;
        padding-top: 20px;
        padding-bottom: 15px;
        width:auto;
        height:auto;
        max-width: 320px;
        max-height: 345px;   
    }

   .stepOne-box-2
   {
     text-align: center;
     justify-content: center;
     display:flexbox;
     grid-row: 2;
     grid-column: 5/6;
     border-left: 10px solid #1d1d1d;
     border-right: 10px solid #1d1d1d;
     border-top: 25px solid #1d1d1d;
     background-color: #0f0e0e;
     color:#ffffff;
     box-shadow:0 4px 8px 0 (rgba(0, 0, 0, 0.2));
     top: 60%;
     padding-top: 20px;
     padding-bottom: 15px;
     width:auto;
     height:auto;
     max-width: 320px;
     max-height: 345px;  
  }

  /*Step 2*/
  .stepTwo-box1
  {
    text-align: center;
    justify-content: center;
    display:flexbox;
    grid-row: 5;
    grid-column: 2/6;
    border-left: 10px solid #1d1d1d;
    border-right: 10px solid #1d1d1d;
    border-top: 25px solid #1d1d1d;
    background-color: #0f0e0e;
    color:#ffffff;
    box-shadow:0 4px 8px 0 (rgba(0, 0, 0, 0.2));
    top: 60%;
    padding-top: 20px;
    padding-bottom: 15px;
    width:auto;
    height:auto;
    max-width: 320px;
    max-height: 345px;  
  }

 .stepTwo-box2
  {
    text-align: center;
    justify-content: center;
    display:flexbox;
    grid-row: 5;
    grid-column: 5/6;
    border-left: 10px solid #1d1d1d;
    border-right: 10px solid #1d1d1d;
    border-top: 25px solid #1d1d1d;
    background-color: #0f0e0e;
    color:#ffffff;
    box-shadow:0 4px 8px 0 (rgba(0, 0, 0, 0.2));
    top: 60%;
    padding-top: 20px;
    padding-bottom: 15px;
    width:auto;
    height:auto;
    max-width: 320px;
    max-height: 345px;  
  }


 .stepTwo-box3
  { 
    text-align: center;
    justify-content: center;
    display:flexbox;
    grid-row: 6;
    grid-column: 2/6;
    border-left: 10px solid #1d1d1d;
    border-right: 10px solid #1d1d1d;
    border-top: 25px solid #1d1d1d;
    background-color: #0f0e0e;
    color:#ffffff;
    box-shadow:0 4px 8px 0 (rgba(0, 0, 0, 0.2));
    top: 60%;
    padding-top: 20px;
    padding-bottom: 15px;
    width:auto;
    height:auto;
    max-width: 320px;
    max-height: 345px;  
  }

 .stepTwo-box4
  {
    text-align: center;
    justify-content: center;
    display:flexbox;
    grid-row: 6;
    grid-column: 5/6;
    border-left: 10px solid #1d1d1d;
    border-right: 10px solid #1d1d1d;
    border-top: 25px solid #1d1d1d;
    background-color: #0f0e0e;
    color:#ffffff;
    box-shadow:0 4px 8px 0 (rgba(0, 0, 0, 0.2));
    top: 60%;
    padding-top: 20px;
    padding-bottom: 15px;
    width:auto;
    height:auto;
    max-width: 320px;
    max-height: 345px;  
  }
  /* Layout three for mobile*/
  .stepThree-box1
  {
    text-align: center;
    justify-content: center;
    display:flexbox;
    grid-row: 6;
    grid-column: 2/5;
    border-left: 10px solid #1d1d1d;
    border-right: 10px solid #1d1d1d;
    border-top: 25px solid #1d1d1d;
    background-color: #0f0e0e;
    color:#ffffff;
    box-shadow:0 4px 8px 0 (rgba(0, 0, 0, 0.2));
    top: 60%;
    padding-top: 20px;
    padding-bottom: 15px;
    width:auto;
    height:auto;
    max-width: 320px;
    max-height: 345px;  
  }

 .stepThree-box2
  {
    text-align: center;
    justify-content: center;
    display:flexbox;
    grid-row: 6;
    grid-column: 5/5;
    border-left: 10px solid #1d1d1d;
    border-right: 10px solid #1d1d1d;
    border-top: 25px solid #1d1d1d;
    background-color: #0f0e0e;
    color:#ffffff;
    box-shadow:0 4px 8px 0 (rgba(0, 0, 0, 0.2));
    top: 60%;
    padding-top: 20px;
    padding-bottom: 15px;
    width:auto;
    height:auto;
    max-width: 320px;
    max-height: 345px;  
  }


 .stepThree-box3
  { 
    text-align: center;
    justify-content: center;
    display:flexbox;
    grid-row: 7;
    grid-column: 2/5;
    border-left: 10px solid #1d1d1d;
    border-right: 10px solid #1d1d1d;
    border-top: 25px solid #1d1d1d;
    background-color: #0f0e0e;
    color:#ffffff;
    box-shadow:0 4px 8px 0 (rgba(0, 0, 0, 0.2));
    top: 60%;
    padding-top: 20px;
    padding-bottom: 15px;
    width:auto;
    height:auto;
    max-width: 320px;
    max-height: 345px;  
  }

 .stepThree-box4
  {
    text-align: center;
    justify-content: center;
    display:flexbox;
    grid-row: 7;
    grid-column: 5/5;
    border-left: 10px solid #1d1d1d;
    border-right: 10px solid #1d1d1d;
    border-top: 25px solid #1d1d1d;
    background-color: #0f0e0e;
    color:#ffffff;
    box-shadow:0 4px 8px 0 (rgba(0, 0, 0, 0.2));
    top: 60%;
    padding-top: 20px;
    padding-bottom: 15px;
    width:auto;
    height:auto;
    max-width: 320px;
    max-height: 345px;  
  }

  /*Mobile layout 4*/
  .stepFour-box1
{
    text-align: center;
    justify-content: center;
    display:flexbox;
    -ms-display: flexbox;
    -webkit-display:flexbox;
    -moz-display:flexbox;
    -o-display:flexbox;
    grid-row: 8;
    grid-column: 0/5;
    border-left: 10px solid #1d1d1d;
    border-right: 10px solid #1d1d1d;
    border-top: 25px solid #1d1d1d;
    background-color: #0f0e0e;
    color:#ffffff;
    box-shadow:0 4px 8px 0 (rgba(0, 0, 0, 0.2));
    top: 60%;
    padding-top: 20px;
    padding-bottom: 15px;
    width:auto;
    height:auto;
    max-width: 250px;
    min-width: 200px;
    max-height: 345px;  
}

.stepFour-box2
{
    text-align: center;
    justify-content: center;
    display:flexbox;
    -ms-display: flexbox;
    -webkit-display:flexbox;
    -moz-display:flexbox;
    -o-display:flexbox;
    grid-row: 8;
    grid-column: 3/5;
    border-left: 10px solid #1d1d1d;
    border-right: 10px solid #1d1d1d;
    border-top: 25px solid #1d1d1d;
    background-color: #0f0e0e;
    color:#ffffff;
    box-shadow:0 4px 8px 0 (rgba(0, 0, 0, 0.2));
    top: 60%;
    padding-top: 20px;
    padding-bottom: 15px;
    width:auto;
    height:auto;
    max-width: 250px;
    min-width: 200px;
    max-height: 345px;  
}


.stepFour-box3
{
    text-align: center;
    justify-content: center;
    display:flexbox;
    -ms-display: flexbox;
    -webkit-display:flexbox;
    -moz-display:flexbox;
    -o-display:flexbox;
    grid-row: 8;
    grid-column: 5/5;
    border-left: 10px solid #1d1d1d;
    border-right: 10px solid #1d1d1d;
    border-top: 25px solid #1d1d1d;
    background-color: #0f0e0e;
    color:#ffffff;
    box-shadow:0 4px 8px 0 (rgba(0, 0, 0, 0.2));
    top: 60%;
    padding-top: 20px;
    padding-bottom: 15px;
    width:auto;
    height:auto;
    max-width: 250px;
    min-width: 200px;
    max-height: 345px;  
}

/*Product Review Box for Mobile*/

.pr-title
{
    grid-row: 9;
    grid-column:1;
    padding-bottom: 20px;
}

.product-image
{
    display: flex;
    justify-content: left;
    grid-row: 10;
    min-width: 450px;
    min-height: 260px;
    max-height: 340px;
    max-width: 500px;
    border-spacing:50px, 0px;
    border: 2px solid;
}

.product-review-box
{
    display:flex;
    align-content: center;
    align-self: center;
    justify-content: stretch;
    text-align: center;
    border:3px solid #aa3723;
    background-color: #0f0e0e; 
    box-shadow:0 4px 8px 0 (rgba(0, 0, 0, 0.2));
    /* top:65%; */
    padding-top:25px;
    padding-bottom:20px;
    padding-left: 15px;
    min-width: 812px;
    min-height: 150px;
    /* min-height: 440px;
    min-width: 750px; */
}

.pr-container-row2
{
  display:flex;
  justify-content: stretch;
}

/*Review Table for Product Info*/
.table table
{
  justify-content: right;
  align-content: stretch;
  grid-row: 10;
}

.product-review-table {
    grid-row: 10;
    width: 100%;
    justify-content: right;
    align-content: stretch;
    padding-left: 15px;
    padding-bottom: 55px;
}

.product-review-table td, th 
{
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
    height: 20px;
    padding: 20px;
}

/*      PayPal buttons             */


.button-placement 
{
 display: flex;
 justify-content: center;
 align-content: center;
 padding-left: 280px;
 padding-bottom: 15px;
 padding-top: 20px;
}

.paypalbuttons
{
    justify-content: right;   
    border-radius: 14px;
    font-family: inherit;
    font-weight: bold;
    text-justify: auto;
    color: #fff;
    padding: 5px 5px; 
    margin: 1rem;
    min-width: 85px;
    border: 0px;
    cursor: pointer;
    outline: none;
    overflow: hidden;
}

.buynow
{
    background-color: #ff6600;
}

.addtocart
{
    background: #00bcd4;
}

}