/* make design responsive, ie better for mobile. */

body{ background-color: #1d1d1d;color: #ffffff; font-optical-sizing:auto; height: 100%;}
input{position:absolute;}
 p{text-align:center; color:#ffffff; word-wrap: break-word;}  
.h1.h2.h3.h4.h5.h6,h1,h2,h3,h4,h5,h6{color:#ffffff;}

.introphoto {
    width: 100%;
    height: 100%;
}

.Menu-box{
    text-align: center;
    margin: auto;
    border-left: 10px solid #1d1d1d;
    border-right: 10px solid #1d1d1d;
    border-top: 25px solid #1d1d1d;
    background-color: #0f0e0e;
    color:#ffffff;
    box-shadow:0 4px 8px 0 (rgba(0, 0, 0, 0.2));
    top:60%;
    padding-top: 20px;
    padding-bottom: 15px;
    width:auto;
    height:auto;
    min-width: 320px;
    min-height: 345px;
}

.stepOne-box-1
{
    text-align: center;
    justify-content: center;
    display:flexbox;
    -ms-display: flexbox;
    -webkit-display:flexbox;
    -moz-display:flexbox;
    -o-display:flexbox;
    grid-row: 2;
    grid-column: 3;
    border-left: 10px solid #1d1d1d;
    border-right: 10px solid #1d1d1d;
    border-top: 25px solid #1d1d1d;
    background-color: #0f0e0e;
    color:#ffffff;
    box-shadow:0 4px 8px 0 (rgba(0, 0, 0, 0.2));
    top: 60%;
    padding-top: 20px;
    padding-bottom: 15px;
    width:auto;
    height:auto;
    min-width: 320px;
    min-height: 345px;
}

.stepOne-box-2
{
    text-align: center;
    justify-content: center;
    display:flexbox;
    -ms-display: flexbox;
    -webkit-display:flexbox;
    -moz-display:flexbox;
    -o-display:flexbox;
    grid-row: 2;
    grid-column: 4;
    border-left: 10px solid #1d1d1d;
    border-right: 10px solid #1d1d1d;
    border-top: 25px solid #1d1d1d;
    background-color: #0f0e0e;
    color:#ffffff;
    box-shadow:0 4px 8px 0 (rgba(0, 0, 0, 0.2));
    top: 60%;
    padding-top: 20px;
    padding-bottom: 15px;
    width:auto;
    height:auto;
    min-width: 320px;
    min-height: 345px;
    
}

.stepTwo-box1
{
    text-align: center;
    justify-content: center;
    display:flexbox;
    -ms-display: flexbox;
    -webkit-display:flexbox;
    -moz-display:flexbox;
    -o-display:flexbox;
    grid-row: 4;
    grid-column: 2;
    border-left: 10px solid #1d1d1d;
    border-right: 10px solid #1d1d1d;
    border-top: 25px solid #1d1d1d;
    background-color: #0f0e0e;
    color:#ffffff;
    box-shadow:0 4px 8px 0 (rgba(0, 0, 0, 0.2));
    top: 60%;
    padding-top: 20px;
    padding-bottom: 15px;
    width:auto;
    height:auto;
    min-width: 320px;
    min-height: 345px;  
}

.stepTwo-box2
{
    text-align: center;
    justify-content: center;
    display:flexbox;
    -ms-display: flexbox;
    -webkit-display:flexbox;
    -moz-display:flexbox;
    -o-display:flexbox;
    grid-row: 4;
    grid-column: 3;
    border-left: 10px solid #1d1d1d;
    border-right: 10px solid #1d1d1d;
    border-top: 25px solid #1d1d1d;
    background-color: #0f0e0e;
    color:#ffffff;
    box-shadow:0 4px 8px 0 (rgba(0, 0, 0, 0.2));
    top: 60%;
    padding-top: 20px;
    padding-bottom: 15px;
    width:auto;
    height:auto;
    min-width: 320px;
    min-height: 345px;  
}


.stepTwo-box3
{
    text-align: center;
    justify-content: center;
    display:flexbox;
    -ms-display: flexbox;
    -webkit-display:flexbox;
    -moz-display:flexbox;
    -o-display:flexbox;
    grid-row: 4;
    grid-column: 4;
    border-left: 10px solid #1d1d1d;
    border-right: 10px solid #1d1d1d;
    border-top: 25px solid #1d1d1d;
    background-color: #0f0e0e;
    color:#ffffff;
    box-shadow:0 4px 8px 0 (rgba(0, 0, 0, 0.2));
    top: 60%;
    padding-top: 20px;
    padding-bottom: 15px;
    width:auto;
    height:auto;
    min-width: 320px;
    min-height: 345px;  
}

.stepTwo-box4
{
    text-align: center;
    justify-content: center;
    display:flexbox;
    -ms-display: flexbox;
    -webkit-display:flexbox;
    -moz-display:flexbox;
    -o-display:flexbox;
    -webkit-display: flexbox;
    -moz-display: flexbox;
    grid-row: 4;
    grid-column: 5;
    border-left: 10px solid #1d1d1d;
    border-right: 10px solid #1d1d1d;
    border-top: 25px solid #1d1d1d;
    background-color: #0f0e0e;
    color:#ffffff;
    box-shadow:0 4px 8px 0 (rgba(0, 0, 0, 0.2));
    top: 60%;
    padding-top: 20px;
    padding-bottom: 15px;
    width:auto;
    height:auto;
    min-width: 320px;
    min-height: 345px;  
}

.stepThree-box1
  {
    text-align: center;
    justify-content: center;
    display:flexbox;
    grid-row: 6;
    grid-column: 2;
    border-left: 10px solid #1d1d1d;
    border-right: 10px solid #1d1d1d;
    border-top: 25px solid #1d1d1d;
    background-color: #0f0e0e;
    color:#ffffff;
    box-shadow:0 4px 8px 0 (rgba(0, 0, 0, 0.2));
    top: 60%;
    padding-top: 20px;
    padding-bottom: 15px;
    width:auto;
    height:auto;
    max-width: 320px;
    max-height: 345px;  
  }

 .stepThree-box2
  {
    text-align: center;
    justify-content: center;
    display:flexbox;
    grid-row: 6;
    grid-column: 3;
    border-left: 10px solid #1d1d1d;
    border-right: 10px solid #1d1d1d;
    border-top: 25px solid #1d1d1d;
    background-color: #0f0e0e;
    color:#ffffff;
    box-shadow:0 4px 8px 0 (rgba(0, 0, 0, 0.2));
    top: 60%;
    padding-top: 20px;
    padding-bottom: 15px;
    width:auto;
    height:auto;
    max-width: 320px;
    max-height: 345px;  
  }

 .stepThree-box3
  { 
    text-align: center;
    justify-content: center;
    display:flexbox;
    grid-row: 6;
    grid-column: 4;
    border-left: 10px solid #1d1d1d;
    border-right: 10px solid #1d1d1d;
    border-top: 25px solid #1d1d1d;
    background-color: #0f0e0e;
    color:#ffffff;
    box-shadow:0 4px 8px 0 (rgba(0, 0, 0, 0.2));
    top: 60%;
    padding-top: 20px;
    padding-bottom: 15px;
    width:auto;
    height:auto;
    max-width: 320px;
    max-height: 345px;  
  }

 .stepThree-box4
  {
    text-align: center;
    justify-content: center;
    display:flexbox;
    grid-row: 6;
    grid-column: 5;
    border-left: 10px solid #1d1d1d;
    border-right: 10px solid #1d1d1d;
    border-top: 25px solid #1d1d1d;
    background-color: #0f0e0e;
    color:#ffffff;
    box-shadow:0 4px 8px 0 (rgba(0, 0, 0, 0.2));
    top: 60%;
    padding-top: 20px;
    padding-bottom: 15px;
    width:auto;
    height:auto;
    max-width: 320px;
    max-height: 345px;  
  }

  .stepFour-box1
{
    text-align: center;
    justify-content: center;
    display:flexbox;
    -ms-display: flexbox;
    -webkit-display:flexbox;
    -moz-display:flexbox;
    -o-display:flexbox;
    grid-row: 8;
    grid-column: 2;
    border-left: 10px solid #1d1d1d;
    border-right: 10px solid #1d1d1d;
    border-top: 25px solid #1d1d1d;
    background-color: #0f0e0e;
    color:#ffffff;
    box-shadow:0 4px 8px 0 (rgba(0, 0, 0, 0.2));
    top: 60%;
    padding-top: 20px;
    padding-bottom: 15px;
    width:auto;
    height:auto;
    min-width: 320px;
    min-height: 345px;  
}

.stepFour-box2
{
    text-align: center;
    justify-content: center;
    display:flexbox;
    -ms-display: flexbox;
    -webkit-display:flexbox;
    -moz-display:flexbox;
    -o-display:flexbox;
    grid-row: 8;
    grid-column: 3;
    border-left: 10px solid #1d1d1d;
    border-right: 10px solid #1d1d1d;
    border-top: 25px solid #1d1d1d;
    background-color: #0f0e0e;
    color:#ffffff;
    box-shadow:0 4px 8px 0 (rgba(0, 0, 0, 0.2));
    top: 60%;
    padding-top: 20px;
    padding-bottom: 15px;
    width:auto;
    height:auto;
    min-width: 320px;
    min-height: 345px;  
}


.stepFour-box3
{
    text-align: center;
    justify-content: center;
    display:flexbox;
    -ms-display: flexbox;
    -webkit-display:flexbox;
    -moz-display:flexbox;
    -o-display:flexbox;
    grid-row: 8;
    grid-column: 4;
    border-left: 10px solid #1d1d1d;
    border-right: 10px solid #1d1d1d;
    border-top: 25px solid #1d1d1d;
    background-color: #0f0e0e;
    color:#ffffff;
    box-shadow:0 4px 8px 0 (rgba(0, 0, 0, 0.2));
    top: 60%;
    padding-top: 20px;
    padding-bottom: 15px;
    width:auto;
    height:auto;
    min-width: 320px;
    min-height: 345px;  
}

.Menu-box .Menu-image{
    position: relative;
    overflow: hidden;
}

.Menu-box .Menu-text{
    font-family:Cambria;
    text-align: center;
    font-size: 12px;
    padding: 2rem 0 2.5rem 0;

}
 
.bottompadding
{
   padding-bottom: 20px;
}

.productreview
{
    align-content: center;
    align-self: center;
    text-align: center;
    border: 3px solid #629eda;
    background-color: #0f0e0e; 
    box-shadow:0 4px 8px 0 (rgba(0, 0, 0, 0.2));
    top:65%;
    padding-top:25px;
    padding-bottom:20px;
    padding-left: 15px;
}

.product-review-table td, th 
{
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
    height: 20px;
    padding: 20px;
}

.product-review-table th 
{
    text-align: left;
}

.product-review-table p 
{
    text-align: right;
}

.pr-title
{
    grid-row: 9;
    grid-column:2/3;
    padding-bottom: 20px;
}

.button-placement 
{
 grid-row: 12;
 grid-column: 3/6;

 padding-top: 20px;
}

.button2-placement 
{ 
    grid-row:12;
    grid-column: 3/4;
    
    padding-top: 20px;
    padding-bottom: 50px;
}

.product-image
{
    grid-row: 11;
    grid-column:1;
    width: 480px;
    height: 355px;
    border-spacing:50px, 0px;
    border: 2px solid;    
}

.product-info
{
    float: right;
    align-content: left;
    font-size:18px;
    color:#ffffff;
}

.product-info-list
{
    color:#ffffff;
    text-align:right;
    border-spacing: 50px, 0px;
}

.cartbutton
{
    border-radius: 16px;
    font-family: inherit;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    padding: 10px 14px;
    margin: 0px;
    background: #00bcd4;
    border: 0px;
    cursor: pointer;
    outline: none;
}

.tempbutton:hover{ background: #ff6600;}

.paypalbutton
{
    border-radius: 16px;
    font-family: inherit;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    padding: 10px 14px;
    margin: 0px;
    background: #ff6600;
    border: 0px;
    cursor: pointer;
    outline: none;
}
.tempbutton:hover{ background: #e05c04;}

.checkbox-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

@media screen and (max-width: 600px)
{
    .step-title
    {
      grid-column: 3/4;
    }
    .stepTwo-title
    {
     grid-column: 3/4;
     grid-row: 3;
    }
    .stepThree-title
    {
      grid-column: 3/4;
      grid-row:4;
    }
    .stepFour-title
    {
        grid-column: 3/4;
        grid-row:7;
    }

    .stepOne-box-1
    { 
        text-align: center;
        justify-content: center;
        display:flexbox;
        grid-row: 2;
        grid-column: 3/4;
        border-left: 10px solid #1d1d1d;
        border-right: 10px solid #1d1d1d;
        border-top: 25px solid #1d1d1d;
        background-color: #0f0e0e;
        color:#ffffff;
        box-shadow:0 4px 8px 0 (rgba(0, 0, 0, 0.2));
        top: 60%;
        padding-top: 20px;
        padding-bottom: 15px;
        width:auto;
        height:auto;
        max-width: 320px;
        max-height: 345px;   
    }

   .stepOne-box-2
   {
     text-align: center;
     justify-content: center;
     display:flexbox;
     grid-row: 3;
     grid-column: 3/4;
     border-left: 10px solid #1d1d1d;
     border-right: 10px solid #1d1d1d;
     border-top: 25px solid #1d1d1d;
     background-color: #0f0e0e;
     color:#ffffff;
     box-shadow:0 4px 8px 0 (rgba(0, 0, 0, 0.2));
     top: 60%;
     padding-top: 20px;
     padding-bottom: 15px;
     width:auto;
     height:auto;
     max-width: 320px;
     max-height: 345px;  
  }

  .stepTwo-box1
  {
    text-align: center;
    justify-content: center;
    display:flexbox;
    grid-row: 5;
    grid-column: 3/4;
    border-left: 10px solid #1d1d1d;
    border-right: 10px solid #1d1d1d;
    border-top: 25px solid #1d1d1d;
    background-color: #0f0e0e;
    color:#ffffff;
    box-shadow:0 4px 8px 0 (rgba(0, 0, 0, 0.2));
    top: 60%;
    padding-top: 20px;
    padding-bottom: 15px;
    width:auto;
    height:auto;
    max-width: 320px;
    max-height: 345px;  
  }

 .stepTwo-box2
  {
    text-align: center;
    justify-content: center;
    display:flexbox;
    grid-row: 6;
    grid-column: 3/4;
    border-left: 10px solid #1d1d1d;
    border-right: 10px solid #1d1d1d;
    border-top: 25px solid #1d1d1d;
    background-color: #0f0e0e;
    color:#ffffff;
    box-shadow:0 4px 8px 0 (rgba(0, 0, 0, 0.2));
    top: 60%;
    padding-top: 20px;
    padding-bottom: 15px;
    width:auto;
    height:auto;
    max-width: 320px;
    max-height: 345px;  
  }


 .stepTwo-box3
  { 
    text-align: center;
    justify-content: center;
    display:flexbox;
    grid-row: 7;
    grid-column: 3/4;
    border-left: 10px solid #1d1d1d;
    border-right: 10px solid #1d1d1d;
    border-top: 25px solid #1d1d1d;
    background-color: #0f0e0e;
    color:#ffffff;
    box-shadow:0 4px 8px 0 (rgba(0, 0, 0, 0.2));
    top: 60%;
    padding-top: 20px;
    padding-bottom: 15px;
    width:auto;
    height:auto;
    max-width: 320px;
    max-height: 345px;  
  }

 .stepTwo-box4
  {
    text-align: center;
    justify-content: center;
    display:flexbox;
    grid-row: 8;
    grid-column: 3/4;
    border-left: 10px solid #1d1d1d;
    border-right: 10px solid #1d1d1d;
    border-top: 25px solid #1d1d1d;
    background-color: #0f0e0e;
    color:#ffffff;
    box-shadow:0 4px 8px 0 (rgba(0, 0, 0, 0.2));
    top: 60%;
    padding-top: 20px;
    padding-bottom: 15px;
    width:auto;
    height:auto;
    max-width: 320px;
    max-height: 345px;  
  }
  /* Layout three for mobile*/
  .stepThree-box1
  {
    text-align: center;
    justify-content: center;
    display:flexbox;
    grid-row: 5;
    grid-column: 3/4;
    border-left: 10px solid #1d1d1d;
    border-right: 10px solid #1d1d1d;
    border-top: 25px solid #1d1d1d;
    background-color: #0f0e0e;
    color:#ffffff;
    box-shadow:0 4px 8px 0 (rgba(0, 0, 0, 0.2));
    top: 60%;
    padding-top: 20px;
    padding-bottom: 15px;
    width:auto;
    height:auto;
    max-width: 320px;
    max-height: 345px;  
  }

 .stepThree-box2
  {
    text-align: center;
    justify-content: center;
    display:flexbox;
    grid-row: 6;
    grid-column: 3/4;
    border-left: 10px solid #1d1d1d;
    border-right: 10px solid #1d1d1d;
    border-top: 25px solid #1d1d1d;
    background-color: #0f0e0e;
    color:#ffffff;
    box-shadow:0 4px 8px 0 (rgba(0, 0, 0, 0.2));
    top: 60%;
    padding-top: 20px;
    padding-bottom: 15px;
    width:auto;
    height:auto;
    max-width: 320px;
    max-height: 345px;  
  }


 .stepThree-box3
  { 
    text-align: center;
    justify-content: center;
    display:flexbox;
    grid-row: 7;
    grid-column: 3/4;
    border-left: 10px solid #1d1d1d;
    border-right: 10px solid #1d1d1d;
    border-top: 25px solid #1d1d1d;
    background-color: #0f0e0e;
    color:#ffffff;
    box-shadow:0 4px 8px 0 (rgba(0, 0, 0, 0.2));
    top: 60%;
    padding-top: 20px;
    padding-bottom: 15px;
    width:auto;
    height:auto;
    max-width: 320px;
    max-height: 345px;  
  }

 .stepThree-box4
  {
    text-align: center;
    justify-content: center;
    display:flexbox;
    grid-row: 8;
    grid-column: 3/4;
    border-left: 10px solid #1d1d1d;
    border-right: 10px solid #1d1d1d;
    border-top: 25px solid #1d1d1d;
    background-color: #0f0e0e;
    color:#ffffff;
    box-shadow:0 4px 8px 0 (rgba(0, 0, 0, 0.2));
    top: 60%;
    padding-top: 20px;
    padding-bottom: 15px;
    width:auto;
    height:auto;
    max-width: 320px;
    max-height: 345px;  
  }

/*Mobile layout 4*/
  .stepFour-box1
{
    text-align: center;
    justify-content: center;
    display:flexbox;
    -ms-display: flexbox;
    -webkit-display:flexbox;
    -moz-display:flexbox;
    -o-display:flexbox;
    grid-row: 8;
    grid-column: 3/4;
    border-left: 10px solid #1d1d1d;
    border-right: 10px solid #1d1d1d;
    border-top: 25px solid #1d1d1d;
    background-color: #0f0e0e;
    color:#ffffff;
    box-shadow:0 4px 8px 0 (rgba(0, 0, 0, 0.2));
    top: 60%;
    padding-top: 20px;
    padding-bottom: 15px;
    width:auto;
    height:auto;
    max-width: 320px;
    max-height: 345px;  
}

.stepFour-box2
{
    text-align: center;
    justify-content: center;
    display:flexbox;
    -ms-display: flexbox;
    -webkit-display:flexbox;
    -moz-display:flexbox;
    -o-display:flexbox;
    grid-row: 9;
    grid-column: 3/4;
    border-left: 10px solid #1d1d1d;
    border-right: 10px solid #1d1d1d;
    border-top: 25px solid #1d1d1d;
    background-color: #0f0e0e;
    color:#ffffff;
    box-shadow:0 4px 8px 0 (rgba(0, 0, 0, 0.2));
    top: 60%;
    padding-top: 20px;
    padding-bottom: 15px;
    width:auto;
    height:auto;
    max-width: 320px;
    max-height: 345px;  
}


.stepFour-box3
{
    text-align: center;
    justify-content: center;
    display:flexbox;
    -ms-display: flexbox;
    -webkit-display:flexbox;
    -moz-display:flexbox;
    -o-display:flexbox;
    grid-row: 10;
    grid-column: 3/4;
    border-left: 10px solid #1d1d1d;
    border-right: 10px solid #1d1d1d;
    border-top: 25px solid #1d1d1d;
    background-color: #0f0e0e;
    color:#ffffff;
    box-shadow:0 4px 8px 0 (rgba(0, 0, 0, 0.2));
    top: 60%;
    padding-top: 20px;
    padding-bottom: 15px;
    width:auto;
    height:auto;
    max-width: 320px;
    max-height: 345px;  
}

/*Product Review Box for Mobile*/

.pr-title
{
    grid-row: 12;
    grid-column:1;
    padding-bottom: 20px;
}

.product-image
{
    grid-row: 13;
    grid-column:1;
    max-width: 250px;
    max-height: 200px;
    border-spacing:50px, 0px;
    border: 2px solid;    
}

.product-review-box
{
    display:flexbox;
    grid-column:3/4;
    grid-row: 11;
    align-content: center;
    align-self: center;
    text-align: center;
    border:3px solid #aa3723;
    background-color: #0f0e0e; 
    box-shadow:0 4px 8px 0 (rgba(0, 0, 0, 0.2));
    /* top:65%; */
    padding-top:25px;
    padding-bottom:20px;
    padding-left: 15px; 
    min-width: 350px;
    min-height: 540px;
}

/*Review Table for Product Info*/
.table table
{
  justify-content: right;
  align-content: stretch;
}

.product-review-table {
    grid-column: 1;
    grid-row:14;
    width: 100%;
    justify-content: stretch;
    align-content: stretch;
    padding-left: 15px;
    padding-top:15px;
}

.product-review-table td, th 
{
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
    height: 20px;
    padding: 20px;
}

.product-review-table th 
{
    text-align: left;
}

.product-review-table p 
{
    text-align: right;
}

/*      PayPal buttons             */
.button-placement 
{
 grid-row: 15;
 grid-column: 1/2;
 padding-top: 20px;
}

.button2-placement 
{ 
    grid-row:16;
    grid-column: 1/2;
    padding-top: 20px;
    padding-bottom: 30px;
    
}

.cartbutton
{
    border-radius: 16px;
    font-family: inherit;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    margin: 0px;
    background: #00bcd4;
    border: 0px;
    max-width: 100px;
    cursor: pointer;
    outline: none;
}

.paypalbutton
{
   min-width:auto;
   min-height:auto;
}

/* Mobile UI */
@media only screen and (min-width: 345px) {
    body {
        width: 100%
        padding: 65px;
        display: grid;
        grid-template-columns: 1fr;
        grid-row: 1;
        justify-content: stretch;
        align-content: stretch;
    }

    }
    .productreview
    {
    	padding-top: 20px;
        padding-bottom: 10px;
        width: 100%;
        height: 100%;
        min-height: auto;
        margin: 5px;
        display: grid;
        grid-template-columns: 1fr;
        justify-content: stretch;
        align-content: stretch;
    }

    .product-image {
       	width:100%;
       	min-width: auto;
      	height: 100%;
        min-height: auto;
    }

    .cartbutton{
        width: 100px;
    }

    .Menu-box
    {
        width:100%;
        min-width: auto;
        height: 100%;
        min-height: auto;
    }
    .Menu-image
    {
        width: 100%;
        min-width: auto;
        height: 100%;
        min-height: auto;
    }
    
    table
    {
        width: 100%;
        min-width: auto;
        height: 100%;
        min-height: auto;
    }
}
    border-radius: 16px;
    font-family: inherit;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    margin: 0px;
    max-width: 120px;
    border-right: 10px solid #ff6600;
    background: #ff6600;
    border: 0px;
    cursor: pointer;
    outline: none;
}

}