.react-form
{
    align-self: center;
    margin: 0px;
    padding:5px;
    text-align: left;
    
}

.review-window
{
   display: inline-flexbox;
   box-sizing: content-box;
   -webkit-box-sizing: inherit;
   -moz-box-sizing: inherit;
   min-height: 135px;
   min-width: 135px;
   border: 2px solid #aa3723;
}