.react-form
{
    align-self: center;
    margin: 0px;
    padding:5px;
    text-align: left;
    
}

.review-window
{
   height: 250px;
   width: 250px;
   padding: 25px;
   border: 3px solid #629eda;
}